<header>
    <div id="rowHead" class="row">
      <div class="top-bar">
        <a class="menu-toggle" href="#"><span>☰</span></a>
        <a href="index.html">
          <center><img src="images/logo.png" alt=""></center>
        </a>
        <input class="menu-toggle" type="text" id="myInput" onkeyup="myFunction()" placeholder="search" title="Search for names.." autocomplete="off">
        <nav id="main-nav-wrap">
          <ul class="main-navigation" id="onReserch">
            <li><a class="smoothscroll current" href="#intro" title="">Home</a></li>
            <li><a class="smoothscroll" href="#about" title="">About</a></li>
            <li><a class="smoothscroll" href="#resume" title="">Resume</a></li>
            <li><a class="smoothscroll" href="#resume" title="">Accessories</a></li>
            <li><a class="smoothscroll" href="#portfolio" title="">Portfolio</a></li>
            <li><a class="smoothscroll" href="#services" title="">Services</a></li>
            <li><a class="smoothscroll" href="#contact" title="">Contact</a></li>
            <li><a class="smoothscroll" href="#about" title="">About</a></li>
            <li><a class="smoothscroll" href="#resume" title="">Resume</a></li>
            <li><a class="smoothscroll" href="#portfolio" title="">Portfolio</a></li>
            <li><a class="smoothscroll" href="#services" title="">Services</a></li>
            <li><a class="smoothscroll" href="#contact" title="">Contact</a></li>
            <li><a class="smoothscroll" href="#about" title="">About</a></li>
            <li><a class="smoothscroll" href="#resume" title="">Resume</a></li>
            <li><a class="smoothscroll" href="#portfolio" title="">Portfolio</a></li>
            <li><a class="smoothscroll" href="#services" title="">Services</a></li>
            <li><a class="smoothscroll" href="#contact" title="">Contact</a></li>
            <li><a class="smoothscroll" href="#about" title="">About</a></li>
            <li><a class="smoothscroll" href="#resume" title="">Resume</a></li>
            <li><a class="smoothscroll" href="#portfolio" title="">Portfolio</a></li>
            <li><a class="smoothscroll" href="#services" title="">Services</a></li>
            <li><a class="smoothscroll" href="#contact" title="">Contact</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>