<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>SING UP</title>
</head>

<body class="obo">
    <div class="containerobo">
        <h1 id="changer">SING UP</h1>
        <form action="/singup" method="POST">
            <input type="text" name="name" placeholder="name" id="name" autocomplete="off" class="inobo" /><br>
            <input type="password" name="password" id="password" placeholder="password" autocomplete="off"
                class="inobo" /><br>
            <input type="button" value="submit" id="authenticationSubmition" class="inobo"><br>

            <input type="text" name="authentication" id="authentication" placeholder="code" autocomplete="off"
                class="inobo" /><br>
            <input type="submit" value="Verify" id="Verify" class="inobo"><br>

        </form>
        <a class="inobo" id="linklog" href="/singin">login➜</a>
    </div>
    <script>
        const authentication = document.getElementById('authentication');
        const Verify = document.getElementById('Verify');

        const nameId = document.getElementById('name');
        const changerId = document.getElementById('changer');
        const passId = document.getElementById('password');
        const linklog = document.getElementById('linklog');
        const authenticationSubmition = document.getElementById('authenticationSubmition');
        const authenticationResult = document.getElementById('authentication');
        authenticationSubmition.addEventListener('click', () => {
            nameId.style.display = "none";
            passId.style.display = "none";
            authenticationSubmition.style.display = "none";
            linklog.style.display = "none"
            changerId.innerHTML = "Verifiy . . . ";

            authentication.style.display = "block";
            Verify.style.display = "block";
            sessionStorage.setItem("approvel", Math.random(Math.random(Math.random(Math.random()))))
        })
    </script>
    <script>

    </script>
</body>

</html>