<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>SING IN</title>
</head>

<body class="obo">
    <div class="containerobo">
        <h1>SING IN</h1>
        <form action="" method="">
            <input type="text" name="authentication" placeholder="code" id="authentication" autocomplete="off"
                class="inobo" /><br>
            <input type="submit" value="submit" id="authenticationSubmition" class="inobo"><br>
        </form>
        <a class="inobo" href="/singup">create new ➜</a>
    </div>

</body>

</html>