<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="css/navigation.css">
    <link rel="stylesheet" type="text/css" href="css/footer.css">
    <link rel="stylesheet" type="text/css" href="css/mobile.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xavor</title>
</head>

<body>

    <section class="navigation">
        <header>
            <div class="header_bg navbar">
                <div class="header_icon">
                    <a href="index.html"><img src="imgs/logo-white.png" alt="site_logo"></a>
                </div>
                <div class="header_pages">
                    <ul>
                        <li><a href="/"> Home</a><span>&rsaquo;</span>
                        </li>
                        <li><a href="/contact"> Contact</a><span>&rsaquo;</span></li>
                        <li><a href="/about"> About</a><span>&rsaquo;</span></li>
                        <li><a href="#"> Resources</a><span>&rsaquo;</span></li>
                        <li><a href="tel: 949 264 1472"> 949 264 1472</a></li>
                        <li><a href="/singin"> Logout </a></li>
                    </ul>
                </div>
            </div>
        </header>
    </section>
    <section class="get_in_touch">
        <div class="touch_outer aboutBgs">
            <div class="touch_container about_touch_container">
                <div class="help help_about">
                    <h1>Hello!</h1>
                    <p>Looking for solutions related to current trends in technology, use cases, features, demos, and trials?</p>
                    <p>Tired of monotony? We welcome you to the dynamic work environment at Xavor.</p>
                </div>
                <div class="help_details help_details_about">
                    <form action="/getTouch_form" method="Post">
                        <input type="fname" name="fname" id="fname" placeholder="*First Name" autocomplete="off"
                            required>
                        <input type="lname" name="lname" id="lname" placeholder="*Last Name" autocomplete="off"
                            required>
                        <select id="interest" name="interest">
                            <option placeholder="* Which services are you interested in?" selected>* Which services are
                                you interested in?</option>
                            <option value="PLM Solutions">PLM Solutions</option>
                            <option value="Web App Development">Web App Development</option>
                            <option value="Mobile App Development">Mobile App Development</option>
                            <option value="Enterprise Web Presence">Enterprise Web Presence</option>
                            <option value="BI & Data Analytics">BI & Data Analytics</option>
                            <option value="Cloud Services">Cloud Services</option>
                            <option value="Integration Services">Integration Services</option>
                            <option value="Microsoft 365 & SharePoint">Microsoft 365 & SharePoint</option>
                            <option value="UI/UX">UI/UX</option>
                            <option value="AI/ML">AI/ML</option>
                            <option value="IoT And Digital Engineering">IoT And Digital Engineering</option>
                            <option value="Robotics and Mechatronics">Robotics and Mechatronics</option>
                            <option value="AR/VR">AR/VR</option>
                            <option value="Health-Tech">Health-Tech</option>
                        </select>
                        <select id="budget" name="budget">
                            <option value="* Your estimated budget?" selected>* Your estimated budget?</option>
                            <option value="Below $5000">Below $5000</option>
                            <option value="$5001 - $20,000">$5001 - $20,000</option>
                            <option value="$20,001 - $50,000">$20,001 - $50,000</option>
                            <option value="$50,001 Above">$50,001 Above</option>
                            <option value="Need Budget Guidance">Need Budget Guidance</option>
                        </select>

                        <input type="email" name="email" id="email" placeholder="*Working Mail" autocomplete="off"
                            required>
                        <input type="phone" name="phone" id="phone" placeholder="Your phone number (Optional)"
                            autocomplete="off">
                        <textarea id="sms" name="sms" cols="40" rows="10"
                            placeholder="* Let us know more about the project you have in mind"></textarea>
                        <input type="submit" value="submit">

                    </form>
                </div>
            </div>
        </div>
    </section>
    <section class="working_details">
        <div class="working_outer">
            <div class="inner_work">
                <div class="inner_work_img">
                    <img src="imgs/Asset-5.png" alt="Asset">
                </div>
                <div class="inner_work_details">
                    <h1 id="years">1<sup>+</sup></h1>
                    <h4>Years of Services</h4>
                </div>
            </div>
            <div class="inner_work">
                <div class="inner_work_img">
                    <img src="imgs/Asset-3.png" alt="Asset">
                </div>
                <div class="inner_work_details">
                    <h1 id="clients">1<sup>+</sup></h1>
                    <h4>Satisfied Clients</h4>
                </div>
            </div>
            <div class="inner_work">
                <div class="inner_work_img">
                    <img src="imgs/Asset-2.png" alt="Asset">
                </div>
                <div class="inner_work_details">
                    <h1 id="projects">1<sup>+</sup></h1>
                    <h4>Successful Projects</h4>
                </div>
            </div>
            <div class="inner_work">
                <div class="inner_work_img">
                    <img src="imgs/Vector-1.png" alt="Asset">
                </div>
                <div class="inner_work_details">
                    <h1 id="labs">1<sup>+</sup></h1>
                    <h4>R&D Labs</h4>
                </div>
            </div>
            <div class="inner_work">
                <div class="inner_work_img">
                    <img src="imgs/Asset-4.png" alt="Asset">
                </div>
                <div class="inner_work_details">
                    <h1 id="offices">1<sup>+</sup></h1>
                    <h4>Global Offices</h4>
                </div>
            </div>
        </div>
    </section>
    <section class="about_office">
        <div class="office_outer">
            <div class="office_data">
            <h1>Our Global Offices</h1>
            <div class="office_location">
                <img src="imgs/New-Project-17-150x150.png" alt="New-Project-17.png">
                <h4>USA</h4>
                <p>
                    The Boardwalk 18575, Suite 600,<br>
                    Jamboree Road, Irvine,<br>
                        California 92612<br><br>

                        info@xavor.com<br>
                      +1 949 264 1472<br>
                </p>
            </div>
            <div class="office_location">
                <img src="imgs/New-Project-1-8-150x150.png" alt="New-Project-17.png">
                <h4>China</h4>
                <p>
                    South Yunnan Road No. 118<br>
                        Huangpu District,<br>
                        Shanghai 2000120<br><br>

                         info@xavor.com<br>
                        +86 15221624704<br>
                </p>
            </div>
            <div class="office_location">
                <img src="imgs/New-Project-2-8-150x150.png" alt="New-Project-17.png">
                <h4>Pakistan</h4>
                <p>
                    50 Main Boulevard, Cavalry<br>
                    Ground, Lahore 54810,<br>
                    Pakistan<br><br>

                    info@xavor.com<br>
                    +92 42 36610210<br>
                </p>
            </div>
            </div>
        </div>
    </section>
    <section class="footer">
        <footer>
            <div class="footer_outer">
                <div class="footer_container">
                    <div class="Xavor_orporation">
                        <img src="imgs/pnglogo-02.png" alt="">
                        <p>Xavor Corporation is a leading technology company based in Irvine, California. We are
                            committed to help our clients with reliable software solutions.</p>
                        <a href="mailTo:Info@xavor.com">Info@xavor.com</a>
                        <a href="tel:+1 949 264 1472">+1 949 264 1472</a>
                        <p class="x">Irvine, California</p>
                    </div>
                    <div class="Xavor_mid">

                        <div class="Xavor_inner">
                            <h1>Services</h1>
                            <p> PLM Solutions</p>
                            <p> Web App Development</p>
                            <p> Mobile App Development</p>
                            <p> Integration Services</p>
                            <p> BI and Data Analytics</p>
                            <p> Cloud Services & DevOps</p>
                            <p> Integration Services</p>
                            <p> Microsoft 365 SharePoint</p>
                            <p> UI/UX</p>
                            <h1>Engagement models</h1>
                            <p> Dedicated Teams & Resources</p>
                            <p> Fixed Price Projects</p>
                        </div>

                        <div class="Xavor_inner">
                            <h1>Products</h1>
                            <p> xEngine</p>
                            <p> Enterprise Data Portal</p>
                            <h1>Partnership</h1>
                            <p> Overview</p>
                            <p> Lead Referral</p>
                            <p> Channel</p>
                            <p> Community</p>
                            <h1>Emerging Technology</h1>
                            <p> AI/ML</p>
                            <p> IoT And Digital Engineering</p>
                            <p> Robotics and Mechatronics</p>
                            <p> AR/VR</p>
                            <p> Health-Tech</p>
                        </div>

                        <div class="Xavor_inner">
                            <h1>Solutions</h1>
                            <p> Cloud Solutions</p>
                            <p> Cloud Contact</p>
                            <p> Integration</p>
                            <p> Enterprise Solutions</p>
                            <h1>Resources</h1>
                            <p> Blogs</p>
                            <p> Privacy Policy</p>
                            <p> Case Studies</p>
                            <h1>Company</h1>
                            <p> About</p>
                            <p> Life at Xavor</p>
                            <p> Contact</p>
                        </div>

                    </div>
                    <div class="Xavor_form">
                        <h1>Join our mailing list</h1>
                        <p>Subscribe to the newsletter for the daily dose of news, updates, tips and special offers</p>
                        <form action="subscription_from" method="POST">
                            <input type="text" name="subscription_name" id="subscription_name" placeholder="FULL NAME"
                                autocomplete="off" required>
                            <input type="mail" name="subscription_mail" id="subscription_mail" placeholder="YOUR GMAIL"
                                autocomplete="off" required>
                            <input type="submit" value="SUBMIT">
                        </form>
                    </div>
                </div>
            </div>
        </footer>
    </section>

    <script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
    <script src="js/navbar.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/happyClient.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>